body{
      font family: arial, sans-serif;
      color: black;
background-color: #595A55;

      font-size: small;
}


h1{
   background-color: #990d1b;
}



h2{
   background-color: #990d1b; 
}



h1{ 
    color: black;
   font-size: 150%;
}



h2{ 
    color: black;
   font-size: 120%;
}

/*content container*/

#wrapper{
          width: 950px;
          margin: 0 auto;
          text-align: center;
          background-color: #595A55;
}

/*header logo properties*/

#header{
        width: 950px;
        height: 300px;
        text-align: center;
        background-color: #000;
        }
/*navbar style*/

/*removing default list styles*/
        
#navigation ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li {
    float: left;
}

#navigation a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation a:hover, a:active {
    background-color: #7A991A;
} 
        


#footer{
        color: white;
        font size: 80%
        text-align: center;
}